<h1>Movies</h1>

<ul>
    {{#each movies}}
        <li> {{title}},{{lenght}} min,
        {{#if adult}}
            for adults.
        {{else}}
            for all audiences.
        {{/if}}
        </li>
    {{/each}}
</ul>